<div class="footer">
  <div class="footer-links">
    <A> ABOUT </A>
    <A> FAQ </A>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>
  <a href="https://www.freepik.com/vectors/background">Background vector created by visnezh - www.freepik.com</a>
  <div class="footer-copyright">
    UrbanJungles <i class="fas fa-leaf"></i>

  </div>
</div>
