<div class="row create-section p-5">
<div class="col-6">
    <%= image_tag "monstera.jpg", alt: "Le Wagon", width: 500 %>
  </div>


  <div class="col-4">

     Create that especial place for your urban jungle, where it is only  and exclusively about your plants!

  </div>

<!--    <div class="col-2"></div>
 -->
</div>

<div class="row connect-section">

    <div class="col-4">
     Connect with other plant-moms and dads around the world and make friends with your same green passion
  </div>

  <div class="col-7">
        <%= image_tag "ficus1.jpg", alt: "Le Wagon", width: 500 %>

  </div>

  <div class="col-1"></div>

</div>

<div class="row share-section">
  <div class="col-6">
            <%= image_tag "ficus.jpg", alt: "Le Wagon", width: 500 %>

  </div>

  <div class="col-4">
      Share tips and tricks about plant care and keep your green babies fit and growing!
  </div>

  <div class="col-4"></div>


</div>


<div class="row justify-content-center cards-section">

     <%= render 'home-cards' %>


</div>


<div class="row connect-section">

  <div class="col-7">
    Did you know?
  </div>

  <div class="col-4">
     Ready to start your own jungle adventure? <br>
     Sign up !
  </div>
  <div class="col-1"></div>

</div>


