<div class="row create-section">
  <div class="col-1"></div>
  <div class="col-4">

     Create that especial place for your urban jungle, where it is only  and exclusively about your plants!

  </div>

   <div class="col-6"></div>

</div>

<div class="row connect-section">

  <div class="col-7"></div>

  <div class="col-4">
     Connect with other plant-moms and dads around the world and make friends with your same green passion
  </div>
  <div class="col-1"></div>

</div>

<div class="row share-section">
  <div class="col-1"></div>

  <div class="col-4">
      Share tips and tricks about plant care and keep your green babies fit and growing!
  </div>

  <div class="col-6"></div>


</div>


<div class="row justify-content-center cards-section">
  <div class="col-8">
     <%= render 'home-cards' %>
  </div>




</div>
