<div class="row create-section">
  <div class="create-container container d-flex justify-content-between">

    <div class="col-6 create-section--image">
      <%= image_tag "monstera.jpg", alt: "monstera plant", height: 400,  width: 600 %>
    </div>


    <div class="col-4 create-section--text d-flex align-items-center">
       Create that especial place for your urban jungle, where it is only  and exclusively about your plants!
    </div>
  </div>


</div>

<div class="row connect-section">

  <div class="connect-container container d-flex justify-content-between">

      <div class="col-4 connect-section--text d-flex align-items-center">
        Connect with other plant-moms and dads around the world and make friends with your same green passion
      </div>

      <div class="col-6 connect-section--image">
        <%= image_tag "ficus1.jpg", alt: "Le Wagon", width: 600 %>
      </div>

  </div>

</div>



<div class="row share-section">

  <div class="connect-container container d-flex justify-content-between">

    <div class="col-6 share-section--image">
      <%= image_tag "ficus.jpg", alt: "Le Wagon", width: 600 %>
    </div>

    <div class="col-4 share-section-text d-flex align-items-center">
        Share tips and tricks about plant care and keep your green babies fit and growing!
    </div>

  </div>

</div>


<div class="row justify-content-center cards-section">

     <%= render 'home-cards' %>

</div>


<div class="row connect-section">

  <div class="col-7">
    Did you know?
  </div>

  <div class="col-4">
     Ready to start your own jungle adventure? <br>
     Sign up !
  </div>

  <div class="col-1"></div>

</div>


