.sections {
  background: linear-gradient(135deg, #F9FEF9, white);
  padding-top: 5%;

}

.create-section, .share-section, .connect-section {
  color: $cta-black;
  font-weight: lighter;
  font-size: 1.5rem;
}


.share-section {
  margin-bottom: 5%;
}

.cards-section {
 padding: 40px;
  a {
    color: white;
  }
}

.see-all-jungles {
  font-size: 1rem;
}

