.sections {
  background: linear-gradient(135deg, #F9FEF9, white);

}

.create-section, .share-section, .connect-section {
  color: $cta-black;
  padding: 80px 8%;
  font-size: 1rem;
  font-weight: lighter;
  font-size: 2rem;
}




.connect-section {
  display: flex;
  justify-content: space-between;
  text-align: right;
  .connect-section--text {
    margin-left: 16%;
  }
}

.cards-section {
 padding: 40px;

  a {
    color: white;
  }
}


.see-all-jungles {
  font-size: 1rem;
}

