.central-col {
  background: linear-gradient(145deg, #ffffff, #dcdcdc);
  box-shadow:  20px 20px 60px #cfcfcf,
             -20px -20px 60px #ffffff;
  }

.menu-col {
  border-radius: 10px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 20px;
  li {
    padding: 20px; }
    a {
    font-size: 14px;
    // list-style-type: none;
  }
  ul {
    text-align: center;

  }
}



// jungle index cards
.cards-col {
  .jungle-cards {
     h4 {
      font-size: 0.8rem;
}
  }

}

.menu-col, .cards-col, .map-col {
  margin-top: 80px;
}
