.main-banner {
  background-image: image-url("main-banner-background.png");
  background-size: cover;
  height: 100vh;
  color: #eee;
  padding-top: 35vh;

    h1, h2 {
      color:$cta-black
    }
    h1 {
      font-family: $my-font;
      font-size: 3rem;
    }
    h2 {
      font-weight: lighter;
    }
    .btn {
      // box-shadow: 3px 2px 2px rgba(139, 195, 74,  0.41);
      box-shadow: 2px 3px 7px #0000006b;
      padding: 1.25rem 1.65rem;
      font-size: 1.2rem;
      margin-top: 3%;
      margin-bottom: 3%;
    }
}

.main-banner-objects {
  position: relative;
}

.imgs-plants {
    position: absolute;
    top: -54px;
    right: 79px;
  }
.second-plant,  {
  position: absolute;
    top: -50px;
    right: 19px;

}

.third-plant {
   position: absolute;
  top: -54px;
  right: 39px;
}

.plant-4 {
  position: absolute;
  top: -54px;
  right: 10px;

}


.plant-5 {
  position: absolute;
  top: -50px;
  right: 79px;

}
