.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  padding: 40px;
}


// .navbar-home {
//   position: absolute;
//   width: 100%;
//   background: transparent;
//   box-shadow: none;
// }

.navbar-wagon-link {
  color: white;
  font-weight: bold;
  }

.nav-link, .navbar-brand {
  color: white ;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: lightgreen;
}




