.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  padding: 40px;
  border-bottom: 0.001px solid #d3d3d363;
  padding-left: 5%;
  padding-right: 5%;
}



// .navbar-home {
//   position: absolute;
//   width: 100%;
//   background: transparent;
//   box-shadow: none;
// }

.navbar-wagon-link {
  color: $cta-black;
  font-weight: bold;
  }

.nav-link, .navbar-brand {
  color: $cta-black ;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: lightgreen;
   .nav-link, .navbar-brand {
     color: white;
   }
}




